.ui-jqgrid .ui-jqgrid-htable th {
    height: 45px;
    padding: 0 2px 0 2px;
	background-color: #455674;
}


.ui-jqgrid .ui-jqgrid-htable th div {
    overflow: hidden;
    position: relative;
    height: 45px;
    color: #f6f6f6;
    font-family: "Roboto", "Noto Sans KR", "NanumSquare", sans-serif;
}


.ui-jqgrid tr.jqgrow td {
    padding: 10px 10px 10px 10px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.ui-jqgrid .ui-jqgrid-hbox {
    float: left;
    padding-right: 20px;
    background-color: #455674;
    border-left-color: #455674;
}


.ui-jqgrid .tree-plus {
     position: relative;
     height: 18px;
    width: 18px;
    overflow: hidden;
}

.ui-jqgrid .tree-minus {
    position: relative;
    height: 18px;
    width: 18px;
    overflow: hidden;
}