@charset "utf-8";
/* MINDsLab. UX/UI Team. YMJ. 20180919 */ 

/* Loading */ 
.page_loading {position:fixed; top:0; left:0; width:100%; height:100%; background:#000; z-index:9999;}
.loading_itemBox {display:block; position:absolute; top:50%; left:50%; width:80px; height:80px; margin:-40px 0 0 -40px;}
.loading_itemBox span {position:absolute; top:33px; width:13px; height:13px; border-radius:50%; background:#c8135c; animation-timing-function:cubic-bezier(0, 1, 1, 0);}
.loading_itemBox span:nth-child(1) {left:8px;  animation:loading_item1 0.6s infinite;}
.loading_itemBox span:nth-child(2) {left:8px;  animation:loading_item2 0.6s infinite;}
.loading_itemBox span:nth-child(3) {left:32px; animation:loading_item2 0.6s infinite;}
.loading_itemBox span:nth-child(4) {left:56px; animation:loading_item3 0.6s infinite;}

@keyframes loading_item1 {0% {transform:scale(0);}
100% {transform:scale(1);}
}
@keyframes loading_item3 {0% {transform:scale(1);}
100% {transform:scale(0);}
}
@keyframes loading_item2 {0% {transform:translate(0, 0);}
100% {transform:translate(24px, 0);}
}
.pageldg_hide {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide; animation-name:pageldg_hide;}

@-webkit-keyframes pageldg_hide {0% {opacity:1;}
100% {opacity:0;}
}

@keyframes pageldg_hide {0% {opacity:1;}
100% {opacity:0;}
}

/* === 공통 === */ 

.fl {float:left;}
.fr {float:right;}

/* selectbox */
.selectbox {position:relative; z-index:1;} 
.selectbox:before {content:''; position:absolute; top:50%; right:0; width:0; height:0; margin-top:-3px; border-left:5px solid transparent; border-right:5px solid transparent; border-top:5px solid #999;} 
.selectbox label {position:absolute; top:0; left:0; padding:0; color:#fff; z-index:-1;} 
.selectbox select {width:100%; height:auto; line-height:normal; font-family:inherit; padding:0 10px 0 0; border:0; opacity:0; filter:alpha(opacity=0); -webkit-appearance:none; -moz-appearance:none; appearance:none;}

/* checkBox */
.checkBox {position:relative; z-index:1;}
.checkBox input[type="checkbox"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0} 
.checkBox input[type="checkbox"] + label {display:inline-block; overflow:hidden; position:relative; width:18px; height:18px; color:#767f89; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;} 
.checkBox input[type="checkbox"] + label:before {content:''; float:left; overflow:hidden; width:18px; height:18px; line-height:18px; margin:0 5px 0 0; text-align:center; vertical-align:middle; background:#fafafa; border:none; border-radius:2px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1; transition:all 0.3s ease-out;} 
.checkBox input[type="checkbox"]:checked + label:before {content:'\2714'; color:#fff; font-size:10px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0);  background:#c8135c; transition:all 0.3s ease-out;}

/* pageing */
.pageing {clear:both; overflow:hidden; padding:20px 0; vertical-align:top; text-align:center; font-size:12px;}
.pageing a {display:inline-block; overflow:hidden; width:15px; height:20px; margin:0 3px; color:#999; font-size:13px; vertical-align:middle; border-radius:3px; text-decoration:none; transition:all 0.3s ease-out;}
.pageing a:hover {color:#333; transition:all 0.3s ease-out;}
.pageing a.first {width:20px; margin:0; border:1px solid rgba(0,0,0,0.1); text-indent:-99px; background:url(../images/ico_paging_first.png) 50% 50% no-repeat;}
.pageing a.first:hover,.pageing a.first:focus {color:#fff; border:1px solid rgba(0,0,0,0.3);}
.pageing a.prev {width:20px; border:1px solid rgba(0,0,0,0.1); text-indent:-99px; background:url(../images/ico_paging_prev.png) 50% 50% no-repeat;}
.pageing a.prev:hover,.pageing a.prev:focus {color:#fff; border:1px solid rgba(0,0,0,0.3);}
.pageing a.next {width:20px; border:1px solid rgba(0,0,0,0.1); text-indent:-99px; background:url(../images/ico_paging_next.png) 50% 50% no-repeat;}
.pageing a.next:hover,.pageing a.next:focus {color:#fff; border:1px solid rgba(0,0,0,0.3);}
.pageing a.end {width:20px; margin:0; border:1px solid rgba(0,0,0,0.1); text-indent:-99px; background:url(../images/ico_paging_end.png) 50% 50% no-repeat;}
.pageing a.end:hover,.pageing a.end:focus {color:#fff; border:1px solid rgba(0,0,0,0.3);}
.pageing strong {display:inline-block; width:20px; height:20px; color:rgba(0,126,255,1.0); font-size:13px; padding:0 2px; border:1px solid #fff;}
.pageing img {position:relative; top:-1px; vertical-align:top;}

#wrap {height:100%;}

#pop_header {display:block; clear:both; overflow:hidden; position:relative; width:calc(100% - 40px); height:30px; padding:15px 20px; background:#02112e;}
#pop_header h1 { float:left; color:rgba(0,126,255,1.0); font-size:22px; font-weight:bold; line-height:28px;}

#pop_container {display:block; clear:both; overflow:auto; position:relative; width:100%; height:calc(100% - 123px); min-height:300px; padding:0; background:#f3f6f8;}

.pop_contents {display:block; clear:both; overflow:hidden; position:relative; }

.stn {display:block; clear:both; overflow:auto; position:relative; width:calc(100% - 40px); margin:20px; border-radius:5px; box-shadow:2px 2px 10px rgba(0,0,0,0.1); background:#fff;}

.tbl_info_btnBox {display:block; clear:both; overflow:hidden; padding:10px 15px;}
.tbl_info_btnBox h3 {float:left; color:#333; font-size:17px; font-weight:bold; line-height:30px;}
.tbl_info_btnBox dl {display:inline-block; margin:0 0 0 15px; font-size:14px; font-weight:normal;}
.tbl_info_btnBox dl dt {display:inline-block; color:#666;}
.tbl_info_btnBox dl dd {display:inline-block; color:rgba(0,126,255,1.0);}
.tbl_info_btnBox .dateBox {float:left; margin:0 15px 0 0;}
.tbl_info_btnBox .dateBox .hyphen {color:#999;}
.tbl_info_btnBox .dateBox .ipt_txt {display:inline-block; width:70px; height:30px; padding:0 30px 0 5px; line-height:30px; border:1px solid #fff; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1 url(../images/ico_date_bk.png) right 7px top 50% no-repeat; transition:all 0.3s ease-out;}
.tbl_info_btnBox .dateBox .ipt_txt:focus {border:1px solid #c8135c; box-shadow:inset 2px 2px 5px rgba(0,0,0,0); transition:all 0.3s ease-out;}

.tbl_info_btnBox .selectbox {float:left; margin:1px 15px 0 0; border:none; border:1px solid #fff; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1; transition:all 0.3s ease-out;}
.tbl_info_btnBox .selectbox.active {border:1px solid rgba(0,126,255,1.0); box-shadow:none; transition:all 0.3s ease-out;}
.tbl_info_btnBox .selectbox:before {right:5px;}
.tbl_info_btnBox .selectbox select {min-width:100px; min-height:28px; color:#333; border:1px solid #000;}
.tbl_info_btnBox .selectbox label {padding:0 5px; height:30px; color:#333; line-height:30px;}
.tbl_info_btnBox .selectbox select:hover {border:1px solid #000;}

.tbl_info_btnBox .srchbox {float:left;}
.tbl_info_btnBox .srchbox.line_l {margin:0 0 0 15px; padding:0 0 0 15px; border-left:1px solid #e5e5e5;}
.tbl_info_btnBox .srchbox .ipt_txt {float:left; min-width:200px; height:30px; padding:0 5px; line-height:30px; border:1px solid #fff; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1; transition:all 0.3s ease-out;}
.tbl_info_btnBox .srchbox .ipt_txt:focus {border:1px solid #c8135c; box-shadow:inset 2px 2px 5px rgba(0,0,0,0); transition:all 0.3s ease-out;}
.tbl_info_btnBox .srchbox .btn_srch {float:left; height:32px; margin:0; padding:0 15px 0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_info_btnBox .srchbox .btn_srch:hover {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.tbl_info_btnBox .srchbox .btn_srch img {display:inline-block; width:13px; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.tbl_info_btnBox .txtareaBox {display:block; clear:both; overflow:hidden; width:100%; }
.tbl_info_btnBox .txtareaBox .txtArea {float:left;; width:calc(100% - 123px); padding:5px 10px; font-size:13px; line-height:26px; vertical-align:top; border:1px solid #fff; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1; transition:all 0.3s ease-out;}
.tbl_info_btnBox .txtareaBox .txtArea:focus {border:1px solid #c8135c; box-shadow:inset 2px 2px 5px rgba(0,0,0,0); transition:all 0.3s ease-out;}
.tbl_info_btnBox .txtareaBox .btn_textArea {float:left; width:100px; height:81px; margin:0 0 0 1px; padding:0; color:#666; font-size:12px; text-align:center; line-height:30px; vertical-align:top; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_info_btnBox .txtareaBox .btn_textArea:hover, .tbl_info_btnBox .txtareaBox .btn_textArea:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}

.tbl_info_btnBox .btn_lst {float:left;}
.tbl_info_btnBox .btn_lst li {float:left; position:relative; margin:0 0 0 10px;}
.tbl_info_btnBox .btn_lst li:first-child {margin:0;}
.tbl_info_btnBox .btn_lst li button {display:block; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_info_btnBox .btn_lst li button:hover, .tbl_info_btnBox .btn_lst li button:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.tbl_info_btnBox .btn_lst li button img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.tbl_info_btnBox .btn_lst li button.btn_clr {display:block; height:32px; margin:0; padding:0 10px; color:rgba(255,255,255,1.0); font-size:12px; line-height:30px; border:1px solid rgba(0,126,255,1.0); border-radius:3px; background:rgba(0,126,255,1.0); cursor:pointer; transition:all 0.3s ease-out;}
.tbl_info_btnBox .btn_lst li button.btn_clr:hover, .tbl_info_btnBox .btn_lst li button.btn_clr:focus {color:rgba(255,255,255,1.0); border:1px solid rgba(0,126,255,1.0); transition:all 0.3s ease-out;}
.tbl_info_btnBox .btn_lst li button.btn_clr img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.tbl_info_btnBox .btn_lst li a {display:block; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_info_btnBox .btn_lst li a:hover, .tbl_info_btnBox .btn_lst li button:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.tbl_info_btnBox .btn_lst li a img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.tbl_info_btnBox .btn_lst li label.btn_file {display:block; height:30px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:28px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_info_btnBox .btn_lst li label.btn_file:hover, .tbl_info_btnBox .btn_lst li label.btn_file:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.tbl_info_btnBox .btn_lst li label.btn_file img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}
.tbl_info_btnBox .btn_lst li .ipt_file {overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; line-height:0;}

/* table(List) */
.tbl_lst {width:100%; background:#fff;}
.tbl_lst thead th {min-height:32px; padding:12px 10px; color:#fff; font-size:13px; font-weight:300px; text-align:left; line-height:18px; border-bottom:1px solid rgba(0,0,0,0.2); background:#455674; word-break:normal;}
.tbl_lst thead th:first-child {padding:10px 10px 10px 15px;}
.tbl_lst tbody td {padding:5px 10px; color:#666; font-size:13px; font-weight:300px; text-align:left; line-height:17px; border-bottom:1px solid #eaeaea; word-break:normal;}
.tbl_lst tbody td .txt {display:inline-block; max-width:300px;}
.tbl_lst tbody td a.link {color:rgba(0,126,255,1.0);}
.tbl_lst tbody td a.link:hover, .tbl_lst tbody td a.link:focus {text-decoration:underline;}
.tbl_lst button.btn {display:block; height:26px; padding:0 15px; color:rgba(0,126,255,1.0); text-align:center; line-height:24px; border:1px solid #dadada; border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_lst button.btn:hover {color:#fff; border:1px solid rgba(0,126,255,1.0); background:rgba(0,126,255,1.0); transition:all 0.3s ease-out;}

.tbl_lst .input_ck {border:none !important;}
.tbl_lst tbody td .dataNone {display:block; text-align:center;}
.tbl_lst tbody tr:hover td {background:#f9f9f9; transition:all 0.3s ease-out;}

.tbl_lst .btn_lst {display:block;}
.tbl_lst .btn_lst li {display:inline-block; margin:0 3px;}
.tbl_lst .btn_lst li button {display:block; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.tbl_lst .btn_lst li button:hover, .tbl_lst .btn_lst li button:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.tbl_lst .btn_lst li button img {display:inline-block; margin:-1px 5px 0 0; vertical-align:middle; opacity:0.2;}

.ol_lst {display:block; vertical-align:top;}
.ol_lst li {overflow:hidden; position:relative; max-width:400px; margin:0 0 5px 0; text-overflow:ellipsis; white-space:nowrap;}
.ol_lst li:last-child {margin:0;}
.ol_lst li:before {display:inline-block; padding:0 5px 0 0; color:#b5b5b5;}
.ol_lst li:nth-child(1):before {content:'1.';}
.ol_lst li:nth-child(2):before {content:'2.';}
.ol_lst li:nth-child(3):before {content:'3.';}
.ol_lst li:nth-child(4):before {content:'4.';}
.ol_lst li:nth-child(5):before {content:'5.';}
.ol_lst li:nth-child(6):before {content:'6.';}
.ol_lst li:nth-child(7):before {content:'7.';}
.ol_lst li:nth-child(8):before {content:'8.';}
.ol_lst li:nth-child(9):before {content:'9.';}
.ol_lst li:nth-child(10):before {content:'10.';}
.ol_lst li:nth-child(11):before {content:'11.';}
.ol_lst li:nth-child(12):before {content:'12.';}
.ol_lst li:nth-child(13):before {content:'13.';}
.ol_lst li:nth-child(14):before {content:'14.';}
.ol_lst li:nth-child(15):before {content:'15.';}
.ol_lst li:nth-child(16):before {content:'16.';}
.ol_lst li:nth-child(17):before {content:'17.';}
.ol_lst li:nth-child(18):before {content:'18.';}
.ol_lst li:nth-child(19):before {content:'19.';}
.ol_lst li:nth-child(20):before {content:'20.';}
.ol_lst li:nth-child(21):before {content:'21.';}
.ol_lst li:nth-child(22):before {content:'22.';}
.ol_lst li:nth-child(23):before {content:'23.';}
.ol_lst li:nth-child(24):before {content:'24.';}
.ol_lst li:nth-child(25):before {content:'25.';}
.ol_lst li:nth-child(26):before {content:'26.';}
.ol_lst li:nth-child(27):before {content:'27.';}
.ol_lst li:nth-child(28):before {content:'28.';}
.ol_lst li:nth-child(29):before {content:'29.';}
.ol_lst li:nth-child(30):before {content:'30.';}
.ol_lst li:nth-child(31):before {content:'31.';}
.ol_lst li:nth-child(32):before {content:'32.';}
.ol_lst li:nth-child(33):before {content:'33.';}
.ol_lst li:nth-child(34):before {content:'34.';}
.ol_lst li:nth-child(35):before {content:'35.';}
.ol_lst li:nth-child(36):before {content:'36.';}
.ol_lst li:nth-child(37):before {content:'37.';}
.ol_lst li:nth-child(38):before {content:'38.';}
.ol_lst li:nth-child(39):before {content:'39.';}
.ol_lst li:nth-child(40):before {content:'40.';}
.ol_lst li:nth-child(41):before {content:'41.';}
.ol_lst li:nth-child(42):before {content:'42.';}
.ol_lst li:nth-child(43):before {content:'43.';}
.ol_lst li:nth-child(44):before {content:'44.';}
.ol_lst li:nth-child(45):before {content:'45.';}
.ol_lst li:nth-child(46):before {content:'46.';}
.ol_lst li:nth-child(47):before {content:'47.';}
.ol_lst li:nth-child(48):before {content:'48.';}
.ol_lst li:nth-child(49):before {content:'49.';}
.ol_lst li:nth-child(50):before {content:'50.';}
.ol_lst li:nth-child(51):before {content:'51.';}
.ol_lst li:nth-child(52):before {content:'52.';}
.ol_lst li:nth-child(53):before {content:'53.';}
.ol_lst li:nth-child(54):before {content:'54.';}
.ol_lst li:nth-child(55):before {content:'55.';}
.ol_lst li:nth-child(56):before {content:'56.';}
.ol_lst li:nth-child(57):before {content:'57.';}
.ol_lst li:nth-child(58):before {content:'58.';}
.ol_lst li:nth-child(59):before {content:'59.';}
.ol_lst li:nth-child(60):before {content:'60.';}
.ol_lst li:nth-child(61):before {content:'61.';}
.ol_lst li:nth-child(62):before {content:'62.';}
.ol_lst li:nth-child(63):before {content:'63.';}
.ol_lst li:nth-child(64):before {content:'64.';}
.ol_lst li:nth-child(65):before {content:'65.';}
.ol_lst li:nth-child(66):before {content:'66.';}
.ol_lst li:nth-child(67):before {content:'67.';}
.ol_lst li:nth-child(68):before {content:'68.';}
.ol_lst li:nth-child(69):before {content:'69.';}
.ol_lst li:nth-child(70):before {content:'70.';}
.ol_lst li:nth-child(71):before {content:'71.';}
.ol_lst li:nth-child(72):before {content:'72.';}
.ol_lst li:nth-child(73):before {content:'73.';}
.ol_lst li:nth-child(74):before {content:'74.';}
.ol_lst li:nth-child(75):before {content:'75.';}
.ol_lst li:nth-child(76):before {content:'76.';}
.ol_lst li:nth-child(77):before {content:'77.';}
.ol_lst li:nth-child(78):before {content:'78.';}
.ol_lst li:nth-child(79):before {content:'79.';}
.ol_lst li:nth-child(80):before {content:'80.';}
.ol_lst li:nth-child(81):before {content:'81.';}
.ol_lst li:nth-child(82):before {content:'82.';}
.ol_lst li:nth-child(83):before {content:'83.';}
.ol_lst li:nth-child(84):before {content:'84.';}
.ol_lst li:nth-child(85):before {content:'85.';}
.ol_lst li:nth-child(86):before {content:'86.';}
.ol_lst li:nth-child(87):before {content:'87.';}
.ol_lst li:nth-child(88):before {content:'88.';}
.ol_lst li:nth-child(89):before {content:'89.';}
.ol_lst li:nth-child(90):before {content:'90.';}
.ol_lst li:nth-child(91):before {content:'91.';}
.ol_lst li:nth-child(92):before {content:'92.';}
.ol_lst li:nth-child(93):before {content:'93.';}
.ol_lst li:nth-child(94):before {content:'94.';}
.ol_lst li:nth-child(95):before {content:'95.';}
.ol_lst li:nth-child(96):before {content:'96.';}
.ol_lst li:nth-child(97):before {content:'97.';}
.ol_lst li:nth-child(98):before {content:'98.';}
.ol_lst li:nth-child(99):before {content:'99.';}
.ol_lst li:nth-child(100):before {content:'100.';}

/* table(View) */
.tbl_view {width:100%; background:#fff; table-layout:fixed;}
.tbl_view thead th {min-height:32px; padding:12px 10px; color:#fff; font-size:13px; font-weight:300px; text-align:left; line-height:18px; border-top:1px solid #fff; border-bottom:1px solid #fff; background:#455674; word-break:normal;}
.tbl_view thead th:first-child {padding:7px 10px 7px 15px;}
.tbl_view tbody th {padding:7px 10px 7px 15px; color:#fff; font-size:13px; font-weight:300px; text-align:left; line-height:18px; vertical-align:top; border-bottom:1px solid rgba(0,0,0,0.2); background:#455674; word-break:normal;}
.tbl_view tbody td {padding:7px 10px 7px 15px; color:#000; font-size:13px; font-weight:300px; text-align:left; line-height:17px; vertical-align:top; border-bottom:1px solid #eaeaea; word-break:normal;}
.tbl_view tbody tr:last-child th {border:none;}
.tbl_view tbody tr:last-child td {border:none;}
.tbl_view tbody td a.link {color:rgba(0,126,255,1.0);}
.tbl_view tbody td a.link:hover, .tbl_view tbody td a.link:focus {text-decoration:underline;}
.tbl_view tbody td .ipt_txt {display:block; width:calc(100% - 25px); height:30px; padding:0 10px; line-height:30px; color:#333; border:1px solid #ccc; border-radius:3px; background:#fff; transition:all 0.3s ease-out;}
.tbl_view tbody td .ipt_txt:focus {border:1px solid rgba(0,126,255,1.0); background:#fff; transition:all 0.3s ease-out;}
.tbl_view .tbl_select {display:block; position:relative; min-width:130px; height:32px; padding:0 35px 0 10px; color:#333; text-align:left; line-height:32px; border:1px solid #dadada; box-shadow:inset 2px 2px 0px #dadada; border-radius:30px; background:#f5f5f5 url(../images/btn_select.png) 99px 1px no-repeat; background-size:28px; transition:all 0.3s ease-out; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
.tbl_view .tbl_select::-ms-expand {display:none;}
.tbl_view .tbl_select:focus {border:1px solid rgba(0,126,255,1.0); transition:all 0.3s ease-out;}
.tbl_view tbody td .dataNone {display:block; text-align:center;}

/* srchArea */
.srchArea {display:block; clear:both; min-height:30px; padding:10px 30px 10px 50px; border-bottom:1px solid rgba(0,0,0,0.1); background:#fff;}
.srchArea .dateBox {float:left; margin:0 15px 0 0;}
.srchArea .dateBox .hyphen {color:#999;}
.srchArea .dateBox .ipt_txt {display:inline-block; width:70px; height:30px; padding:0 30px 0 5px; line-height:30px; border:1px solid #fff; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1 url(../images/ico_date_bk.png) right 7px top 50% no-repeat; transition:all 0.3s ease-out;}
.srchArea .dateBox .ipt_txt:focus {border:1px solid #c8135c; box-shadow:inset 2px 2px 5px rgba(0,0,0,0); transition:all 0.3s ease-out;}

.srchArea .selectbox {float:left; margin:1px 15px 0 0; border:none; border:1px solid #fff; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1; transition:all 0.3s ease-out;}
.srchArea .selectbox.active {border:1px solid rgba(0,126,255,1.0); box-shadow:none; transition:all 0.3s ease-out;}
.srchArea .selectbox:before {right:5px;}
.srchArea .selectbox select {min-width:100px; min-height:28px; color:#333; border:1px solid #000;}
.srchArea .selectbox label {padding:0 5px; height:30px; color:#333; line-height:30px;}
.srchArea .selectbox select:hover {border:1px solid #000;}

.srchArea .srchbox {float:left;}
.srchArea .srchbox .ipt_txt {float:left; min-width:200px; height:30px; padding:0 5px; line-height:30px; border:1px solid #fff; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1; transition:all 0.3s ease-out;}
.srchArea .srchbox .ipt_txt:focus {border:1px solid #c8135c; box-shadow:inset 2px 2px 5px rgba(0,0,0,0); transition:all 0.3s ease-out;}
.srchArea .srchbox .btn_srch {float:left; height:32px; margin:0; padding:0 15px 0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.srchArea .srchbox .btn_srch:hover {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.srchArea .srchbox .btn_srch img {display:inline-block; width:13px; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.srchArea .txtareaBox {display:block; clear:both; overflow:hidden; width:100%; }
.srchArea .txtareaBox .txtArea {float:left;; width:calc(100% - 123px); padding:5px 10px; font-size:13px; line-height:26px; vertical-align:top; border:1px solid #fff; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1; transition:all 0.3s ease-out;}
.srchArea .txtareaBox .txtArea:focus {border:1px solid #c8135c; box-shadow:inset 2px 2px 5px rgba(0,0,0,0); transition:all 0.3s ease-out;}
.srchArea .txtareaBox .btn_textArea {float:left; width:100px; height:81px; margin:0 0 0 1px; padding:0; color:#666; font-size:12px; text-align:center; line-height:30px; vertical-align:top; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.srchArea .txtareaBox .btn_textArea:hover, .srchArea .txtareaBox .btn_textArea:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}

.srchArea .btn_lst {float:left;}
.srchArea .btn_lst li {float:left; position:relative; margin:0 0 0 10px;}
.srchArea .btn_lst li:first-child {margin:0;}
.srchArea .btn_lst li button {display:block; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.srchArea .btn_lst li button:hover, .srchArea .btn_lst li button:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.srchArea .btn_lst li button img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.srchArea .btn_lst li button.btn_clr {display:block; height:32px; margin:0; padding:0 10px; color:rgba(255,255,255,1.0); font-size:12px; line-height:30px; border:1px solid rgba(0,126,255,1.0); border-radius:3px; background:rgba(0,126,255,1.0); cursor:pointer; transition:all 0.3s ease-out;}
.srchArea .btn_lst li button.btn_clr:hover, .srchArea .btn_lst li button.btn_clr:focus {color:rgba(255,255,255,1.0); border:1px solid rgba(0,126,255,1.0); transition:all 0.3s ease-out;}
.srchArea .btn_lst li button.btn_clr img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.srchArea .btn_lst li a {display:block; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.srchArea .btn_lst li a:hover, .srchArea .btn_lst li button:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.srchArea .btn_lst li a img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

.srchArea .btn_lst li label.btn_file {display:block; height:30px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:28px; border:1px solid rgba(0,0,0,0.1); border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.srchArea .btn_lst li label.btn_file:hover, .srchArea .btn_lst li label.btn_file:focus {color:#333; border:1px solid rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.srchArea .btn_lst li label.btn_file img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}
.srchArea .btn_lst li .ipt_file {overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; line-height:0;}


#pop_footer {display:block; clear:both; overflow:hidden; position:relative; width:calc(100% - 40px); height:32px; padding:15px 20px; border-top:1px solid rgba(0,0,0,0.1); text-align:center; background:#fff;}
#pop_footer .btn_lst {display:block;}
#pop_footer .btn_lst li {display:inline-block; margin:0 3px;}
#pop_footer .btn_lst li button {display:block; min-width:70px; height:32px; margin:0; padding:0 10px; color:#666; font-size:12px; line-height:30px; border:1px solid #dadada; border-radius:3px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
#pop_footer .btn_lst li button:hover, #pop_footer .btn_lst li button:focus {color:#333; border:1px solid rgba(0,0,0,0.5); transition:all 0.3s ease-out;}
#pop_footer .btn_lst li button img {display:inline-block; margin:0 7px 0 0; vertical-align:middle; opacity:0.2;}

#pop_footer .btn_lst li button.btn_clr {color:#fff; border:1px solid rgba(0,126,255,1.0); background:rgba(0,126,255,1.0); transition:all 0.3s ease-out;}






