
div.table {
    width:100%;
    height: 100%;
    text-align: center;
    margin: 50px auto;
}

div.user_table {
    width:100%;
    height: 100%;
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.selectB{
    margin: 120px auto;
    width:100%;
    height:auto;
    background-color:#ffffff;
    margin:30px auto;

}

.selectU{
    width:100%;
    height:auto;
    background-color:#ffffff;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;

}


table{
    width:60%;
    height: 100%;
    margin: auto;

}

table.table-style-one {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border: 1px #3A3A3A;
    border-collapse: collapse;
    text-align: center;
    margin: 10px auto;

}
table.table-style-one th {
    border: 1px solid #3A3A3A;
    padding: 8px;
    width:30%;
    background-color: #f6f6f6;
}
table.table-style-one td {
    padding: 8px;
    border: 1px solid #3A3A3A;
    background-color: #ffffff;
    margin-left:  0px;
    text-align: left;
}

input.inbox{
    width: 100%;
}

div.confirmBtn{
    width:60%;
    height: 100%;
    margin: 20px auto auto;
    text-align: center;
}


.wrap-loading{ /*화면 전체를 어둡게 합니다.*/

    position: fixed;

    left:0;

    right:0;

    top:0;

    bottom:0;

    background: rgba(0,0,0,0.2); /*not in ie */

    z-index: 9999999;

    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000',endColorstr='#20000000');    /* ie */



}

.wrap-loading div{ /*로딩 이미지*/

    position: fixed;

    top:30%;

    left:35%;

    margin-left: -21px;

    margin-top: -21px;
    z-index: 9999999;

}

.display-none{ /*감추기*/
    display:none;
}